{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{# block d'insertion du component Home (le script est dans base.html.twig et main.jsx) #}
<div id="home"></div>
{% endblock %}
